html {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
        overflow: hidden;
    }
}
.hero {
    visibility: hidden;
    height: 100vh;

    .container {
        width: 1440px;
        min-width: 1440px;
        margin: 0 auto;

        .hero-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100vh;
            margin: 0 24px;

            .hero-content {
                width: 50%;

                .hero-content-inner {
                    width: 400px;
                    margin: 0 auto;
                    color: #323232;

                    h1 {
                        font-weight: 500;
                        font-size: 32px;
                        margin-bottom: 24px;

                        .hero-content-line {
                            height: 44px;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
    
                    p {
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: 300;
                        padding-right: 48px;
                        margin-bottom: 56px;
                    }
    
                    .btn-row {
                        position: relative;
                        
                        &:before {
                            content: '';
                            position: absolute;
                            width: 56px;
                            height: 1px;
                            background: #030303;
                            top: 50%;
                            left: -68px;
                        }
                        
                        button {
                            display: flex;
                            align-items: center;
                            position: relative;
                            font-size: 12px;
                            background: none;
                            border: none;
                            padding: 0;
                            cursor: pointer;
                            text-transform: uppercase;
                            font-weight: 700;
                            letter-spacing: .7px;
                            transition: 0.5s;

                            &:focus {
                                outline: none;
                            }
                            &:hover {
                                transform: translateX(10px);
                                opacity: .6;
                            }
                            .arrow-icon {
                                position: absolute;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                left: 80px;
                                height: 42px;
                                width: 42px;
                                border-radius: 100px;

                                img {
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                        }
                    }
                }
            }
            .hero-images {
                position: relative;
                width: 50%;
                height: 100vh;

                .hero-images-inner {
                    .hero-image {
                        position: absolute;
                        overflow: hidden;

                        &.girl {
                            top: 0;
                            right: 0;
                            width: 45%;
                            height: 50%;
                        }
                        &.boy {
                            bottom: 24px;
                            left: 0;
                            width: 52%;
                            height: 65%;
                        }
                        img {
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}